

.nv1 ul li a:after{display:block; content:''; border-bottom:2px solid #e5e5e5; transform:scaleX(0); transition:transform 250ms ease-in-out;}
.nv1 ul li a:hover:after{ transform: scaleX(1); transform-origin: 0% 50%;}

    #slider{width:100%; height:800px; display:flex;}

    .tour_text_box{width:50%; height:800px; background-color:#f183b2;}
    .tour_image_box{width:50%; height:800px; background-size:cover;}


    .section{width:100%; height:auto; }
    .tour_list_box{width:1200px; height:auto; background-color:orange; margin:0 auto; display:flex; justify-content:center; text-align: center; flex-flow:wrap;}
    .list1{width:380px; height:200px; padding:5px;}
    .list1:hover{box-shadow: 0 0 0 2px #131313;}
    .list1 h1{font-family: 'Pretendard-Regular'; font-size:20px; font-weight: normal;}
    .list1 h2{font-family: 'Pretendard-Regular'; font-size:28px;}
    .list1 h3{font-family: 'Pretendard-Regular'; font-size:15px; font-weight: normal;}
    .list1 button{width:100px; height:50px; margin:20px 15px 0 15px; border:0; transition:0.2s; cursor:pointer;}
    .list1 button:hover{box-shadow: 3px 3px darkred; }
    .list1 button a{text-decoration: none;}
    .list1 .btn1{background-color:#e5e5e5;}
    .list1 .btn1 a{color:#131313;}
    .list1 .btn2{background-color:#f183b2;}
    .list1 .btn2 a{color:#e5e5e5}


    